<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}KrabsVault{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='fonts.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>

<header>
  {% block header %}{% endblock %}
</header>

<main>
  {% block content %}{% endblock %}
</main>

<footer>
  KrabsVault &copy; 2026 — Mr Krabs
</footer>

{% block scripts %}{% endblock %}
{% block reload_trigger %}
  <script>
    new EventSource('/api/events').onmessage = () => location.reload();
  </script>
{% endblock %}
</body>
</html>
