{% extends "base.html" %}

{% block title %}Login — KrabsVault{% endblock %}


{% block content %}
  <div class="login-container">

    <div class="warning-banner">
      <span class="material-symbols-outlined">warning</span>
      <span>No Plankton allowed!</span>
    </div>

    <div class="vault-panel">

      <div class="rivet rivet-tl"></div>
      <div class="rivet rivet-tr"></div>
      <div class="rivet rivet-bl"></div>
      <div class="rivet rivet-br"></div>

      <figure class="vault-title-area">
        <img src="{{ url_for('static', path='krabsvault-logo.png') }}" alt="Krusty Vault Logo">
        <figcaption class="vault-title">
          KrustyVault
        </figcaption>
      </figure>

      {% if error %}
        <div class="error-message">{{ error }}</div>
      {% endif %}

      <form id="login-form" action="/login" method="post">
        <div class="form-group">
          <label for="username">
            <span class="material-symbols-outlined">badge</span>
            Employee ID
          </label>
          <input type="text" id="username" name="username" required autocomplete="username webauthn"
                 autofocus
                 placeholder="Enter ID Sequence">
        </div>
        <div class="form-group">
          <label for="password">
            <span class="material-symbols-outlined">key</span>
            Secret Passcode
          </label>
          <input type="password" id="password" name="password" required
                 autocomplete="current-password" placeholder="••••••••">
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" id="submit-btn">
            <span class="material-symbols-outlined">lock_open</span>
            Authorize Access
          </button>
        </div>
      </form>


    </div>


  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', path='api.js') }}"></script>
  {% if security_level == "passkey" %}
    <script src="{{ url_for('static', path='authenticate.js') }}"></script>
    <script src="{{ url_for('static', path='login.js') }}"></script>
  {% endif %}
{% endblock %}
